.fonctionnement-container {
    padding: 40px;
    line-height: 1.7;
    max-width: 900px;
    margin: auto;
  }
  
  .cam-example {
    margin-top: 20px;
    text-align: center;
  }
  
  .cam-example img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }
  