.upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px 30px;
  border: 1px solid #BDC3C7;
  border-radius: 12px;
  /* background-color: #2C3E50; */
  box-shadow: 0 4px 12px rgba(44, 62, 80, 0.1);
  margin: 30px auto;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
}

.upload-card input[type="file"] {
  border: none;
  font-size: 14px;
  color: #2C3E50;
}

.upload-card button {
  padding: 8px 20px;
  background-color: #2C3E50; 
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: none; 
}

.upload-card button:hover {
 background-color: #2C3E50; /* Même couleur qu'au repos */
  color: #FFFFFF; /* Couleur du texte inchangée */
}
